MyClient/Connected Services/MyService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyModelLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransferService_GetAllUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllAccountsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllAccountsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransferService">
    <wsdl:operation name="GetAllUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersList" message="tns:ITransferService_GetAllUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersListResponse" message="tns:ITransferService_GetAllUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAllAccountsList" message="tns:ITransferService_GetAllAccountsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAllAccountsListResponse" message="tns:ITransferService_GetAllAccountsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddAccount" message="tns:ITransferService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddAccountResponse" message="tns:ITransferService_AddAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransferService" type="tns:ITransferService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsersList">
      <soap:operation soapAction="http://tempuri.org/ITransferService/GetAllUsersList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsList">
      <soap:operation soapAction="http://tempuri.org/ITransferService/GetAllAccountsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/ITransferService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="BasicHttpBinding_ITransferService" binding="tns:BasicHttpBinding_ITransferService">
      <soap:address location="http://95.84.158.128:8733/Design_Time_Addresses/WCF_DB_Library/Service" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>