MyClient/Connected Services/MyService/TransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9001/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9001/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9001/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyModelLibrary" />
      <xsd:import schemaLocation="http://localhost:9001/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransferService_GetTeacherDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherDiscipline" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetTeacherDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAttendancesFromJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttendancesFromJournal" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAttendancesFromJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttendancesFromJournalResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetDisciplinesList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDisciplinesList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetDisciplinesList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDisciplinesListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetStudentsGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetStudentsGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessons_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessons" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessons_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetSpecialityCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialityCodes" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetSpecialityCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpecialityCodesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_DeleteLessonGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLessonGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_DeleteLessonGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLessonGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddLessonGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddLessonGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLessonGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessonsNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsNumbers" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessonsNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessonsOnDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsOnDate" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetLessonsOnDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonsOnDateResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditDisciplineName_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDisciplineName" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditDisciplineName_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditDisciplineNameResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddDisciplineGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDisciplineGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddDisciplineGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDisciplineGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetUsersFromDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFromDiscipline" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetUsersFromDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersFromDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetNotAddedGroupDisciplines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotAddedGroupDisciplines" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetNotAddedGroupDisciplines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotAddedGroupDisciplinesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetGroupDisciplines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDisciplines" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetGroupDisciplines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupDisciplinesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:EditGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_RemoveGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_RemoveGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetTeacherList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetTeacherList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetTeacherDisciplines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherDisciplines" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetTeacherDisciplines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeacherDisciplinesResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddTeacherDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherDiscipline" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddTeacherDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddDiscipline_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDiscipline" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddDiscipline_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDisciplineResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddStudentInGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentInGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddStudentInGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_RemoveStudentInGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentInGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_RemoveStudentInGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStudentInGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGroup" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGroupResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllAccountsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllAccountsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccountsListResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="ITransferService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAccount" />
  </wsdl:message>
  <wsdl:message name="ITransferService_EditAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransferService">
    <wsdl:operation name="GetTeacherDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetTeacherDiscipline" message="tns:ITransferService_GetTeacherDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetTeacherDisciplineResponse" message="tns:ITransferService_GetTeacherDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttendancesFromJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAttendancesFromJournal" message="tns:ITransferService_GetAttendancesFromJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAttendancesFromJournalResponse" message="tns:ITransferService_GetAttendancesFromJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDisciplinesList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetDisciplinesList" message="tns:ITransferService_GetDisciplinesList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetDisciplinesListResponse" message="tns:ITransferService_GetDisciplinesList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentsGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetStudentsGroup" message="tns:ITransferService_GetStudentsGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetStudentsGroupResponse" message="tns:ITransferService_GetStudentsGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessons">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetLessons" message="tns:ITransferService_GetLessons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetLessonsResponse" message="tns:ITransferService_GetLessons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecialityCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetSpecialityCodes" message="tns:ITransferService_GetSpecialityCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetSpecialityCodesResponse" message="tns:ITransferService_GetSpecialityCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetGroups" message="tns:ITransferService_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetGroupsResponse" message="tns:ITransferService_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLessonGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/DeleteLessonGroup" message="tns:ITransferService_DeleteLessonGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/DeleteLessonGroupResponse" message="tns:ITransferService_DeleteLessonGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLessonGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddLessonGroup" message="tns:ITransferService_AddLessonGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddLessonGroupResponse" message="tns:ITransferService_AddLessonGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonsNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetLessonsNumbers" message="tns:ITransferService_GetLessonsNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetLessonsNumbersResponse" message="tns:ITransferService_GetLessonsNumbers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonsOnDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetLessonsOnDate" message="tns:ITransferService_GetLessonsOnDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetLessonsOnDateResponse" message="tns:ITransferService_GetLessonsOnDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDisciplineName">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/EditDisciplineName" message="tns:ITransferService_EditDisciplineName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/EditDisciplineNameResponse" message="tns:ITransferService_EditDisciplineName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDisciplineGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddDisciplineGroup" message="tns:ITransferService_AddDisciplineGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddDisciplineGroupResponse" message="tns:ITransferService_AddDisciplineGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersFromDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetUsersFromDiscipline" message="tns:ITransferService_GetUsersFromDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetUsersFromDisciplineResponse" message="tns:ITransferService_GetUsersFromDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotAddedGroupDisciplines">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetNotAddedGroupDisciplines" message="tns:ITransferService_GetNotAddedGroupDisciplines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetNotAddedGroupDisciplinesResponse" message="tns:ITransferService_GetNotAddedGroupDisciplines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupDisciplines">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetGroupDisciplines" message="tns:ITransferService_GetGroupDisciplines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetGroupDisciplinesResponse" message="tns:ITransferService_GetGroupDisciplines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/EditGroup" message="tns:ITransferService_EditGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/EditGroupResponse" message="tns:ITransferService_EditGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/RemoveGroup" message="tns:ITransferService_RemoveGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/RemoveGroupResponse" message="tns:ITransferService_RemoveGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetTeacherList" message="tns:ITransferService_GetTeacherList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetTeacherListResponse" message="tns:ITransferService_GetTeacherList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeacherDisciplines">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetTeacherDisciplines" message="tns:ITransferService_GetTeacherDisciplines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetTeacherDisciplinesResponse" message="tns:ITransferService_GetTeacherDisciplines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacherDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddTeacherDiscipline" message="tns:ITransferService_AddTeacherDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddTeacherDisciplineResponse" message="tns:ITransferService_AddTeacherDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDiscipline">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddDiscipline" message="tns:ITransferService_AddDiscipline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddDisciplineResponse" message="tns:ITransferService_AddDiscipline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudentInGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddStudentInGroup" message="tns:ITransferService_AddStudentInGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddStudentInGroupResponse" message="tns:ITransferService_AddStudentInGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStudentInGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/RemoveStudentInGroup" message="tns:ITransferService_RemoveStudentInGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/RemoveStudentInGroupResponse" message="tns:ITransferService_RemoveStudentInGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddGroup" message="tns:ITransferService_AddGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddGroupResponse" message="tns:ITransferService_AddGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersList" message="tns:ITransferService_GetAllUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersListResponse" message="tns:ITransferService_GetAllUsersList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAllAccountsList" message="tns:ITransferService_GetAllAccountsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAllAccountsListResponse" message="tns:ITransferService_GetAllAccountsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/AddAccount" message="tns:ITransferService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/AddAccountResponse" message="tns:ITransferService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/EditAccount" message="tns:ITransferService_EditAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/EditAccountResponse" message="tns:ITransferService_EditAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAccount" message="tns:ITransferService_GetAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAccountResponse" message="tns:ITransferService_GetAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITransferService" type="tns:ITransferService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITransferService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetTeacherDiscipline">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetTeacherDiscipline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAttendancesFromJournal">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAttendancesFromJournal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDisciplinesList">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetDisciplinesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentsGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetStudentsGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessons">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetLessons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecialityCodes">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetSpecialityCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLessonGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/DeleteLessonGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLessonGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddLessonGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonsNumbers">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetLessonsNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonsOnDate">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetLessonsOnDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDisciplineName">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/EditDisciplineName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDisciplineGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddDisciplineGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersFromDiscipline">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetUsersFromDiscipline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotAddedGroupDisciplines">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetNotAddedGroupDisciplines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupDisciplines">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetGroupDisciplines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/EditGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/RemoveGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherList">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetTeacherList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeacherDisciplines">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetTeacherDisciplines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacherDiscipline">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddTeacherDiscipline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDiscipline">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddDiscipline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudentInGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddStudentInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStudentInGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/RemoveStudentInGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGroup">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersList">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAllUsersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccountsList">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAllAccountsList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAccount">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/EditAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="NetTcpBinding_ITransferService" binding="tns:NetTcpBinding_ITransferService">
      <soap12:address location="net.tcp://localhost:8301/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8301/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>