MyClient/Connected Services/NewsService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://95.84.158.128:9002/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyModelLibrary" />
  <xs:element name="AddNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyModelLibrary" minOccurs="0" name="MyAcc" nillable="true" type="q1:accounts" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyModelLibrary" minOccurs="0" name="MyNews" nillable="true" type="q2:News" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>