MyProgramJournal_DB/Connected Services/MyService/TransferService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransferService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITransferService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Service.Exceptions" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyModelLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransferService_GetAccounts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccounts" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAccounts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAccounts_AccountConnectedExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Service.Exceptions" name="detail" element="q1:AccountConnectedException" />
  </wsdl:message>
  <wsdl:message name="ITransferService_DisconnectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectUser" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllUsersList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersList" />
  </wsdl:message>
  <wsdl:message name="ITransferService_GetAllUsersList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersListResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransferService">
    <wsdl:operation name="GetAccounts">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAccounts" message="tns:ITransferService_GetAccounts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAccountsResponse" message="tns:ITransferService_GetAccounts_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ITransferService/GetAccountsAccountConnectedExceptionFault" name="AccountConnectedExceptionFault" message="tns:ITransferService_GetAccounts_AccountConnectedExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/DisconnectUser" message="tns:ITransferService_DisconnectUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersList" message="tns:ITransferService_GetAllUsersList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransferService/GetAllUsersListResponse" message="tns:ITransferService_GetAllUsersList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITransferService" type="tns:ITransferService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITransferService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAccounts">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccountConnectedExceptionFault">
        <soap12:fault use="literal" name="AccountConnectedExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisconnectUser">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/DisconnectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersList">
      <soap12:operation soapAction="http://tempuri.org/ITransferService/GetAllUsersList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransferService">
    <wsdl:port name="NetTcpBinding_ITransferService" binding="tns:NetTcpBinding_ITransferService">
      <soap12:address location="net.tcp://localhost:8302/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>